PORT=3000
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=swish_test
AUTH_ACCESS_SECRET_KEY=accesssecretkey
AUTH_REFRESH_SECRET_KEY=refreshsecretkey
AUTH_ACCESS_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_EXPIRES_IN=1d
